<mat-card class="example-card" style="padding-left: 450px">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>ANTHONY CLEMENTE DÍAZ CHINCHAY</mat-card-title>
    <mat-card-subtitle>WEON</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image
    src="https://scontent-sea1-1.cdninstagram.com/vp/0bd39429bed7c2f5b756919e7fb12dbe/5DFADEAC/t51.2885-19/s150x150/61139803_402862230440810_7972884405884551168_n.jpg?_nc_ht=scontent-sea1-1.cdninstagram.com"
    alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      A este individuo hay que ordenarle que se limpie todas las computadoras (monitores, impresaras, mouse, cables,
      laptos y un largo etcétera, pero sobre todo, las CPUs).
      Si está de acuerdo, dele LIKE :)
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>