
  
  .barralateral{
    width: 250px;
    
  }

  .cabecera{
    margin-left:10px;
    margin-bottom:25px;
  }

  .cabecera>h3{
    text-transform: uppercase;
    margin-bottom:5px;
  }

  .cabecera>p{
    color:gray;
    font-size: 0.8em;
    margin-top:0px;
    margin-bottom:0px;
  }
  

  .contenido-barra{
    font-size:1.2em;
  }

  .titulo-division{
    margin-left: 20px;
    margin-bottom: 0px;
  }