<div class="barralateral">
  <div class="cabecera">
    <h3>USUARIO</h3>
    <p>Correo</p>
  </div>
  <mat-divider></mat-divider>

  <div class="contenido-barra">
    <mat-action-list>
      <button mat-list-item>
        <mat-icon matListIcon>shopping_cart</mat-icon>
        <h3 matLine> Compras </h3>
      </button>
      <button mat-list-item>
        <mat-icon matListIcon>store</mat-icon>
        <h3 matLine> Almacen </h3>
      </button>
      <button mat-list-item>
        <mat-icon matListIcon><i class="fas fa-tractor"></i></mat-icon>
        <h3 matLine> Producción </h3>
      </button>
      <button mat-list-item>
        <mat-icon matListIcon><i class="fas fa-dollar-sign"></i></mat-icon>
        <h3 matLine> Ventas </h3>
      </button>
      <button mat-list-item>
        <mat-icon matListIcon><i class="fas fa-cog"></i></mat-icon>
        <h3 matLine> Administrador </h3>
      </button>
    </mat-action-list>

  </div>
  <mat-divider></mat-divider>
  <h3 class="titulo-division">Reportes</h3>
  <div class="contenido-barra">
    <mat-action-list>
      <button mat-list-item>
        <mat-icon matListIcon>assignment</mat-icon>
        <h3 matLine> Ventas del día </h3>
      </button>
      <button mat-list-item>
        <mat-icon matListIcon>assignment</mat-icon>
        <h3 matLine> Ver Kardex </h3>
      </button>
      <button mat-list-item>
        <mat-icon matListIcon>assignment</mat-icon>
        <h3 matLine> Ver Precios Promedio </h3>
      </button>

    </mat-action-list>

  </div>
  <mat-divider></mat-divider>
  <div class="contenido-barra">
    <mat-action-list>
      <button mat-list-item>
        <mat-icon matListIcon>exit_to_app</mat-icon>
        <h3 matLine> Salir </h3>
      </button>
    </mat-action-list>

  </div>


</div>