<div class="detalle-formaPago-content">
  <app-toolbar-derecha 
  [showToolbar]="'true'"
  [ismovil]="ismovil" [anchocontenido]="anchocontenido"></app-toolbar-derecha>

  <div class="contenido-detalle">
    <!-- <mat-form-field style="width:100%;">
      <mat-label>Nombre de forma de pago</mat-label>
      <input type="text" matInput placeholder="Nombre" autocomplete="off" />
    </mat-form-field> -->

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod vitae ipsum molestias sunt veniam pariatur modi
      assumenda eveniet tempore ullam id iure, rerum praesentium, vel totam. Fugiat ipsa laborum laudantium?</p>
  </div>
  <!-- <button mat-fab color="accent" class="boton-flotante">
    <mat-icon aria-label="Nueva">save</mat-icon>
  </button> -->
</div>
<!-- <div class="detalle-formaPago-vacio">
  <div class="panel-movil-contenido">
    <div class="panel-selecciona-pacientes">
      <div class="background">
        <div class="content">
          <span class=" material-icons icono-usuario" aria-hidden="true"> playlist_add_check</span>
          <p class="texto-usuario">Selecciona una forma de pago para comenzar</p>
        </div>
      </div>
    </div>
  </div>
</div> -->